<p>
  {{#let (hash
       model=(if this.isLocal this.localBasePath null)
       query=(if this.isLocal null (hash resource=@uri))
       route=(if this.isLocal "fallback" "external")
       label=(if this.hasShort this.label @uri)
       extraClass=(if this.hasShort "" "au-u-word-break-all"))
       as |routeInfo|}}
    <Metis::Link
      @route={{routeInfo.route}}
      @model={{routeInfo.model}}
      @query={{routeInfo.query}}
      class={{routeInfo.extraClass}}
    >
      {{routeInfo.label}}
    </Metis::Link>
  {{/let}}
</p>

{{#if this.description}}
  <p class="au-u-muted">{{this.description}}</p>
{{/if}}

<ul class="au-c-list-horizontal au-u-margin-top-tiny">
  <li class="au-c-list-horizontal__item">
    <Metis::LinkExternal @icon="link-external" href={{@uri}}>
      {{t "display-uri.follow-external-url"}}
    </Metis::LinkExternal>
  </li>

  {{#unless this.isLocal}}
    <li class="au-c-list-horizontal__item">
      <Metis::Link
        @icon="link-external"
        @route="external"
        @query={{hash resource=@uri}}
        class="au-u-word-break-all"
      >
        {{t "display-uri.follow-internal-url"}}
      </Metis::Link>
    </li>
  {{/unless}}

  {{#if this.hasShort}}
    <li class="au-c-list-horizontal__item">
      <Metis::Button @icon={{if this.showShort "link" "draft"}} {{on "click" (fn (mut this.showShort) (not this.showShort))}}
      >
        {{#if this.showShort}}
          {{t "display-uri.show-uri"}}
        {{else}}
          {{t "display-uri.show-label"}}
        {{/if}}
      </Metis::Button>
    </li>
  {{/if}}
</ul>
