{{#if this.hasShort}}
  <p>
    {{#if this.hasShort}}
      {{this.label}}
    {{else}}
      <p class="au-u-word-break-all">{{@uri}}</p>
    {{/if}}
  </p>
  <ul class="au-c-list-horizontal au-u-margin-top-tiny">
    {{#if this.localBasePath}}
      <li class="au-c-list-horizontal__item">
        <LinkTo @route="fallback" @model={{this.localBasePath}} class="au-c-link">
          <AuIcon @icon="link-external" @alignment="left" @ariaHidden="true" />{{t "display-uri.follow-url"}}
        </LinkTo>
      </li>
    {{else}}
      <li class="au-c-list-horizontal__item">
        <a href={{@uri}} class="au-c-link">
          <AuIcon @icon="link-external" @alignment="left" @ariaHidden="true" />{{t "display-uri.follow-external-url"}}
        </a>
      </li>
    {{/if}}
    <li class="au-c-list-horizontal__item">
      <AuButton
        @skin="link"
        @icon={{if this.showShort "link" "draft"}}
        {{on "click" (fn (mut this.showShort) (not this.showShort))}}
      >
        {{#if this.showShort}}
          {{t "display-uri.show-uri"}}
        {{else}}
          {{t "display-uri.show-label"}}
        {{/if}}
      </AuButton>
    </li>
  </ul>
  {{#if this.description}}
    <p>{{this.description}}</p>
  {{/if}}
{{else}}
  {{#if this.localBasePath}}
    <LinkTo
      @route="fallback"
      @model={{this.localBasePath}}
      class="au-c-link au-u-word-break-all">
      {{@uri}}
    </LinkTo>
  {{else}}
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        <a href={{@uri}} class="au-c-link au-u-word-break-all">{{@uri}}</a>
      </li>
    </ul>
  {{/if}}
{{/if}}
