{{#if this.hasShort}}
  <p>
    {{#if this.hasShort}}
      {{this.label}}
    {{else}}
      <p class="au-u-word-break-all">{{@uri}}</p>
    {{/if}}
  </p>
  <ul class="au-c-list-horizontal au-u-margin-top-tiny">
    {{#if this.localBasePath}}
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="fallback"
          @model={{this.localBasePath}}
          @icon="link-external"
        >
          {{t "display-uri.follow-url"}}
        </AuLink>
      </li>
    {{else}}
      <li class="au-c-list-horizontal__item">
        <AuLinkExternal @icon="link-external" href={{@uri}}>
          {{t "display-uri.follow-external-url"}}
        </AuLinkExternal>
      </li>
      <li class="au-c-list-horizontal__item">
        <AuLink
          @icon="link-external"
          @route="external"
          @query={{hash resource=@uri}}
          class="au-u-word-break-all"
        >
          {{t "display-uri.follow-internal-url"}}
        </AuLink>
      </li>
    {{/if}}
    <li class="au-c-list-horizontal__item">
      <AuButton
        @skin="link"
        @icon={{if this.showShort "link" "draft"}}
        {{on "click" (fn (mut this.showShort) (not this.showShort))}}
      >
        {{#if this.showShort}}
          {{t "display-uri.show-uri"}}
        {{else}}
          {{t "display-uri.show-label"}}
        {{/if}}
      </AuButton>
    </li>
  </ul>
  {{#if this.description}}
    <p>{{this.description}}</p>
  {{/if}}
{{else}}

  {{#if this.localBasePath}}

    <AuLink
      @route="fallback"
      @model={{this.localBasePath}}
      class="au-u-word-break-all"
    >
      {{@uri}}
    </AuLink>
  {{else}}
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        <AuLinkExternal
          href={{@uri}}
          class="au-u-word-break-all"
        >{{@uri}}</AuLinkExternal>
      </li>
    </ul>
    {{#if (or (eq @type "object") (eq @type "subject"))}}
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink
            @icon="link-external"
            @route="external"
            @query={{hash resource=@uri}}
            class="au-u-word-break-all"
          >
            {{t "display-uri.follow-internal-url"}}
          </AuLink>
        </li>
      </ul>
    {{/if}}
  {{/if}}
{{/if}}