<Metis::Toolbar>
  <div class="au-c-pagination">
    <div class="au-c-pagination__list-item">
      {{#if this.hasMultiplePages}}
        {{#unless this.isFirstPage}}
          <Metis::Button @icon="nav-left" @iconAlignment="left" {{on "click" this.previousPage }}>
            {{t "pagination.previous-page"}}
          </Metis::Button>
        {{/unless}}
      {{/if}}
    </div>
    <p>
      <span class="au-u-hidden-visually">{{t "pagination.results"}} </span>
      <strong>
        {{this.startItem}} - {{this.endItem}}
      </strong>
      {{t "pagination.of"}}
      {{this.count}}
    </p>
    <div class="au-c-pagination__list-item">
      {{#if this.hasMultiplePages}}
        {{#unless this.isLastPage}}
          <Metis::Button @icon="nav-right" @iconAlignment="right" {{on "click" this.nextPage }}>
            {{t "pagination.next-page"}}
          </Metis::Button>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</Metis::Toolbar>