<AuToolbar @size="medium" @border="top" @wowrap={{true}}>
  <div class="au-c-pagination">
    <div class="au-c-pagination__list-item">
      {{#if this.hasMultiplePages}}
        {{#unless this.isFirstPage}}
          <AuButton @skin="link" @icon="nav-left" @iconAlignment="left" {{on "click" this.previousPage }}>
            Vorige pagina
          </AuButton>
        {{/unless}}
      {{/if}}
    </div>
    <p>
      <span class="au-u-hidden-visually">Resultaten </span>
      <strong>
        {{this.startItem}} - {{this.endItem}}
      </strong>
      van
      {{this.count}}
    </p>
    <div class="au-c-pagination__list-item">
      {{#if this.hasMultiplePages}}
        {{#unless this.isLastPage}}
          <AuButton @skin="link" @icon="nav-right" @iconAlignment="right" {{on "click" this.nextPage }}>
            Volgende pagina
          </AuButton>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</AuToolbar>