<div class="au-o-region">
  <Metis::Heading @level="2" @skin="3" class="au-u-margin-bottom-small">
    {{this.t "sections.direct-triples.header"}}
  </Metis::Heading>
  <p class="au-u-margin-bottom">
    {{this.t "sections.direct-triples.subheader"}}
  </p>

  <div class="au-u-margin-bottom-large">
    {{#if @model.directed.triples}}
      <Metis::Table about={{@model.directed.subject}}>
        <:header>
          <tr>
            <th>{{this.t "table.columns.property"}}</th>
            <th>{{this.t "table.columns.value"}}</th>
          </tr>
        </:header>
        <:body>
          {{#if @controller.isLoadingDirected}}
            <tr>
              <td>
                {{this.t "table.loading"}}
              </td>
              <td></td>
            </tr>
          {{else}}
            {{#each @model.directed.triples as |triple|}}
              {{#if (eq triple.object.type "uri")}}
                <tr property={{triple.predicate}} resource={{triple.object.value}}>
                  <td>
                    <Metis::DisplayUri @uri={{triple.predicate}} @type="predicate"/>
                  </td>
                  <td>
                    <Metis::DisplayUri @uri={{triple.object.value}} @type="object"/>
                  </td>
                </tr>
              {{else}}
                <tr property={{triple.predicate}} content={{triple.object.value}}>
                  <td>
                    <Metis::DisplayUri @uri={{triple.predicate}} @type="predicate"/>
                  </td>
                  <td>
                    <Metis::DisplayLiteral
                      @value={{triple.object.value}}
                      @language={{get triple.object "xml:lang"}} />
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          {{/if}}
        </:body>
      </Metis::Table>
      {{#if @model.directed.triples}}
        <Metis::Pagination
          @count={{@model.directed.count}}
          @size={{@controller.directedPageSize}}
          @page={{@controller.directedPageNumber}}
          @selectPage={{@controller.selectDirectedPage}}
        />
      {{/if}}
    {{else}}
      <p>
        <Metis::HelpText @skin="tertiary">
          {{this.t "sections.direct-triples.not-found"}}
        </Metis::HelpText>
      </p>
    {{/if}}
  </div>
</div>

<Metis::Heading @level="3" @skin="2" class="au-u-margin-bottom-small">
  {{this.t "sections.inverse-triples.header"}}
</Metis::Heading>
<p class="au-u-margin-bottom">
  {{this.t "sections.inverse-triples.subheader"}}
</p>

<div class="au-u-margin-bottom-large">
  {{#if @model.inverse.triples}}
    <Metis::Table>
      <:header>
        <tr>
          <th>{{this.t "table.columns.property"}}</th>
          <th>{{this.t "table.columns.subject"}}</th>
        </tr>
      </:header>
      <:body>
        {{#if @controller.isLoadingInverse}}
          <tr>
            <td>
              {{this.t "table.loading"}}
            </td>
            <td></td>
          </tr>
        {{else}}
          {{#each @model.inverse.triples as |triple|}}
            <tr resource={{triple.subject}}>
              <td property={{triple.predicate}} resource={{triple.object}}>
                <Metis::DisplayUri @uri={{triple.predicate}} @type="predicate"/>
              </td>
              <td>
                <Metis::DisplayUri @uri={{triple.subject}} @type="subject"/>
              </td>
            </tr>
          {{/each}}
        {{/if}}
      </:body>
    </Metis::Table>
    {{#if @model.inverse.triples}}
      <Metis::Pagination
        @count={{@model.inverse.count}}
        @size={{@controller.inversePageSize}}
        @page={{@controller.inversePageNumber}}
        @selectPage={{@controller.selectInversePage}}
      />
    {{/if}}
  {{else}}
    <p>
      <Metis::HelpText @skin="tertiary">
        {{this.t "sections.inverse-triples.not-found"}}
      </Metis::HelpText>
    </p>
  {{/if}}
</div>