{{#if @controller.isEmpty}}
  <div class="au-u-margin-bottom">
    <Metis::Heading class="au-u-margin-bottom">
      {{this.t "not-found.header"}}
    </Metis::Heading>
    <Metis::Heading
      @level="2"
      @skin="3"
      class="au-u-light au-u-margin-bottom"
    >
      {{this.t "not-found.subheader.prefix"}}

      {{#if (eq this.routeType "fallback")}}
      <Metis::Link href="{{@model.directed.subject}}">
        {{@model.directed.subject}}
      </Metis::Link>
      {{else}}
      <Metis::LinkExternal
        href="{{@model.directed.subject}}"
        class="au-u-word-break-all"
      >
        {{@model.directed.subject}}
      </Metis::LinkExternal>
      {{/if}}

      {{this.t "not-found.subheader.postfix"}}
    </Metis::Heading>
  </div>

  <Metis::Hr />

{{else}}
  <div class="au-o-region">
    <Metis::Heading
      @level="1"
      @skin="1"
      class="au-u-margin-bottom"
    >
      {{this.t "header"}}
    </Metis::Heading>
    <p class="au-u-h3 au-u-light">
      {{this.t "subheader.prefix"}}

  {{#if (eq this.routeType "fallback")}}
    <Metis::Link href="{{@model.directed.subject}}" class="au-u-word-break">{{@model.directed.subject}}</Metis::Link>
  {{else}}
      <Metis::LinkExternal
        href="{{@model.directed.subject}}"
        class="au-u-word-break-all"
      >
        {{@model.directed.subject}}
      </Metis::LinkExternal>
  {{/if}}

      {{this.t "subheader.postfix"}}
    </p>

  </div>

  <Metis::Hr />

  <Metis::ResourceMetadata
    @model={{@model}}
    @controller={{@controller}}
  />
{{/if}}