{{!-- {{#if this.hasShort}}
	<p class="u-spacer--tiny">
		<a href={{@uri}} data-toggle="tooltip" title="{{@uri}} a" data-content="{{@uri}}" data-placement="top"><strong>{{this.label}}</strong></a>
	</p>
  {{#if this.localBasePath}}
    {{link-to "[open]" "fallback" this.localBasePath}}
  {{/if}}
{{else}}
  {{#if this.localBasePath}}
    {{link-to @uri "fallback" this.localBasePath}}
  {{else}}
    <a href={{@uri}}>{{@uri}}</a>
  {{/if}}
{{/if}}
--}}

{{#if this.hasShort}}
  <span {{on "click" (fn (mut this.showShort) (not this.showShort))}} aria-role="button">
    {{#if this.hasShort}}
      {{this.label}}
    {{else}}
      {{@uri}}
    {{/if}}
  </span>
  {{#if this.localBasePath}}
    {{link-to "[open]" "fallback" this.localBasePath}}
  {{else}}
    <a href={{@uri}}>[open]</a>
  {{/if}}
    {{#if this.description}}
  <div>{{this.description}}</div>
  {{/if}}
{{else}}
  {{#if this.localBasePath}}
    {{link-to @uri "fallback" this.localBasePath}}
  {{else}}
    <a href={{@uri}}>{{@uri}}</a>
  {{/if}}
{{/if}}
