<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region-large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-5-6 au-u-2-3@medium">

        {{#if this.isEmpty}}
          <div class="au-u-margin-bottom">
            <AuHeading class="au-u-margin-bottom">Detailpagina niet gevonden.</AuHeading>
            <AuHeading @level="2" @skin="3" class="au-u-light au-u-margin-bottom">Er werden geen relaties of details gevonden over
              <AuLink href="{{this.model.directed.subject}}">{{this.model.directed.subject}}</AuLink>.
            </AuHeading>
          </div>

          <AuHr />

        {{else}}

          <div class="au-o-region">
            <AuHeading @level="1" @skin="1"class="au-u-word-break au-u-margin-bottom">Detailpagina voor onderwerp</AuHeading>
            <p class="au-u-h3 au-u-light">Deze pagina geeft informatie over het onderwerp
              <AuLink href="{{this.model.directed.subject}}" class="au-u-word-break">{{this.model.directed.subject}}</AuLink> weer, door relaties en details te tonen.
            </p>
            {{!-- TODO: Add label in title as well --}}
          </div>

          <AuHr />

          <div class="au-o-region">
            <AuHeading @level="2" @skin="3" class="au-u-margin-bottom-small">Eigenschappen en relaties</AuHeading>
            <p class="au-u-margin-bottom">Directe links van het onderwerp.</p>

            <div class="au-c-data-table__wrapper au-u-margin-bottom-large">
              {{#if this.model.directed.triples}}
                <table about={{this.model.directed.subject}} class="au-c-data-table__table">
                  <thead>
                    <tr class="au-c-data-table__header">
                      <th class="data-table__header-title"><span>Eigenschap</span>{{!-- predicate --}}</th>
                      <th class="data-table__header-title"><span>Onderwerp</span> {{!-- object --}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#if this.isLoadingDirected}}
                      <tr>
                        <td>
                          Aan het laden...
                        </td>
                        <td></td>
                      </tr>
                    {{else}}
                      {{#each this.model.directed.triples as |triple|}}
                        {{#if (eq triple.object.type "uri")}}
                          <tr property={{triple.predicate}} resource={{triple.object.value}}>
                            <td>
                              <Metis::DisplayUri @uri={{triple.predicate}} />
                            </td>
                            <td>
                              <Metis::DisplayUri @uri={{triple.object.value}} />
                            </td>
                          </tr>
                        {{else}}
                          <tr property={{triple.predicate}} content={{triple.object.value}}>
                            <td>
                              <Metis::DisplayUri @uri={{triple.predicate}} />
                            </td>
                            <td>
                              <span class="au-u-word-break">
                                {{triple.object.value}}
                              </span>
                            </td>
                          </tr>
                        {{/if}}
                      {{/each}}
                    {{/if}}
                  </tbody>
                </table>

                {{#if this.model.directed.triples}}
                  <Metis::Pagination
                    @count={{this.model.directed.count}}
                    @size={{this.directedPageSize}}
                    @page={{this.directedPageNumber}}
                    @selectPage={{this.selectDirectedPage}}
                  />
                {{/if}}

              {{else}}
                <p><AuHelpText @skin="tertiary">Geen directe links gevonden.</AuHelpText></p>
              {{/if}}
            </div>
          </div>

          <AuHeading @level="3" @skin="2" class="au-u-margin-bottom-small">Verwijzingen</AuHeading>
          <p class="au-u-margin-bottom">Inverse links naar het onderwerp.</p>
          {{!-- <p class="u-spacer--small">{{model.subject}}</p> --}}

          <div class="au-c-data-table__wrapper au-u-margin-bottom-large">
            {{#if this.model.inverse.triples}}
              <table class="au-c-data-table__table">
                <thead>
                  <tr class="au-c-data-table__header">
                    <th class="data-table__header-title"><span>Eigenschap</span>{{!-- predicate --}}</th>
                    <th class="data-table__header-title"><span>Onderwerp</span> {{!-- object --}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.model.inverse.triples as |triple|}}
                    <tr resource={{triple.subject}}>
                      <td property={{triple.predicate}} resource={{triple.object}}>
                        <Metis::DisplayUri @uri={{triple.predicate}} />
                      </td>
                      <td>
                        <Metis::DisplayUri @uri={{triple.subject}} />
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>

              {{#if this.model.inverse.triples}}
                <Metis::Pagination
                  @count={{this.model.inverse.count}}
                  @size={{this.inversePageSize}}
                  @page={{this.inversePageNumber}}
                  @selectPage={{this.selectInversePage}}
                />
              {{/if}}
            {{else}}
              <p><AuHelpText @skin="tertiary">Geen verwijzingen gevonden.</AuHelpText></p>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
