<div class='au-o-layout au-o-layout--large'>
  <div class='au-o-region-large'>
    <div class='au-o-grid au-o-grid--center'>
      <div class='au-o-grid__item au-u-5-6 au-u-2-3@medium'>

        {{#if this.isEmpty}}
          <div class='au-u-margin-bottom'>
            <AuHeading class='au-u-margin-bottom'>
              {{t 'fallback.not-found.header'}}
            </AuHeading>
            <AuHeading
              @level='2'
              @skin='3'
              class='au-u-light au-u-margin-bottom'
            >
              {{t 'fallback.not-found.subheader.prefix'}}
              <AuLink href='{{this.model.directed.subject}}'>
                {{this.model.directed.subject}}
              </AuLink>
              {{t 'fallback.not-found.subheader.postfix'}}
            </AuHeading>
          </div>

          <AuHr />

        {{else}}
          Test
          <div class='au-o-region'>
            <AuHeading
              @level='1'
              @skin='1'
              class='au-u-word-break au-u-margin-bottom'
            >
              {{t 'fallback.header'}}
            </AuHeading>
            <p class='au-u-h3 au-u-light'>
              {{t 'fallback.subheader.prefix'}}
              <AuLink
                href='{{this.model.directed.subject}}'
                class='au-u-word-break'
              >{{this.model.directed.subject}}</AuLink>
              {{t 'fallback.subheader.postfix'}}
            </p>
          </div>

          <AuHr />

          <div class='au-o-region'>
            <AuHeading @level='2' @skin='3' class='au-u-margin-bottom-small'>
              {{t 'fallback.sections.direct-triples.header'}}
            </AuHeading>
            <p class='au-u-margin-bottom'>
              {{t 'fallback.sections.direct-triples.subheader'}}
            </p>

            <div class='au-u-margin-bottom-large'>
              {{#if this.model.directed.triples}}
                <AuTable about={{this.model.directed.subject}}>
                  <:header>
                    <tr>
                      <th>{{t 'fallback.table.columns.property'}}</th>
                      <th>{{t 'fallback.table.columns.value'}}</th>
                    </tr>
                  </:header>
                  <:body>
                    {{#if this.isLoadingDirected}}
                      <tr>
                        <td>
                          {{t 'fallback.table.loading'}}
                        </td>
                        <td></td>
                      </tr>
                    {{else}}
                      {{#each this.model.directed.triples as |triple|}}
                        {{#if (eq triple.object.type 'uri')}}
                          <tr
                            property={{triple.predicate}}
                            resource={{triple.object.value}}
                          >
                            <td>
                              <Metis::DisplayUri @uri={{triple.predicate}} />
                            </td>
                            <td>
                              <Metis::DisplayUri @uri={{triple.object.value}} />
                            </td>
                          </tr>
                        {{else}}
                          <tr
                            property={{triple.predicate}}
                            content={{triple.object.value}}
                          >
                            <td>
                              <Metis::DisplayUri @uri={{triple.predicate}} />
                            </td>
                            <td>
                              <span class='au-u-word-break'>
                                {{triple.object.value}}
                              </span>
                            </td>
                          </tr>
                        {{/if}}
                      {{/each}}
                    {{/if}}
                  </:body>
                </AuTable>
                {{#if this.model.directed.triples}}
                  <Metis::Pagination
                    @count={{this.model.directed.count}}
                    @size={{this.directedPageSize}}
                    @page={{this.directedPageNumber}}
                    @selectPage={{this.selectDirectedPage}}
                  />
                {{/if}}
              {{else}}
                <p>
                  <AuHelpText @skin='tertiary'>
                    {{t 'fallback.sections.direct-triples.not-found'}}
                  </AuHelpText>
                </p>
              {{/if}}
            </div>
          </div>

          <AuHeading @level='3' @skin='2' class='au-u-margin-bottom-small'>
            {{t 'fallback.sections.inverse-triples.header'}}
          </AuHeading>
          <p class='au-u-margin-bottom'>
            {{t 'fallback.sections.inverse-triples.subheader'}}
          </p>

          <div class='au-u-margin-bottom-large'>
            {{#if this.model.inverse.triples}}
              <AuTable>
                <:header>
                  <tr>
                    <th>{{t 'fallback.table.columns.property'}}</th>
                    <th>{{t 'fallback.table.columns.subject'}}</th>
                  </tr>
                </:header>
                <:body>
                  {{#if this.isLoadingInverse}}
                    <tr>
                      <td>
                        {{t 'fallback.table.loading'}}
                      </td>
                      <td></td>
                    </tr>
                  {{else}}
                    {{#each this.model.inverse.triples as |triple|}}
                      <tr resource={{triple.subject}}>
                        <td
                          property={{triple.predicate}}
                          resource={{triple.object}}
                        >
                          <Metis::DisplayUri @uri={{triple.predicate}} />
                        </td>
                        <td>
                          <Metis::DisplayUri @uri={{triple.subject}} />
                        </td>
                      </tr>
                    {{/each}}
                  {{/if}}
                </:body>
              </AuTable>
              {{#if this.model.inverse.triples}}
                <Metis::Pagination
                  @count={{this.model.inverse.count}}
                  @size={{this.inversePageSize}}
                  @page={{this.inversePageNumber}}
                  @selectPage={{this.selectInversePage}}
                />
              {{/if}}
            {{else}}
              <p>
                <AuHelpText @skin='tertiary'>
                  {{t 'fallback.sections.inverse-triples.not-found'}}
                </AuHelpText>
              </p>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>