<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region-large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-5-6 au-u-2-3@medium">

        {{#if this.isEmpty}}
          <div class="au-u-margin-bottom">
            <AuHeading class="au-u-margin-bottom">
              {{t "fallback.not-found.header"}}
            </AuHeading>
            <AuHeading @level="2" @skin="3" class="au-u-light au-u-margin-bottom">
              {{t "fallback.not-found.subheader.prefix"}}
              <AuLink href="{{this.model.directed.subject}}">
                {{this.model.directed.subject}}
              </AuLink>
              {{t "fallback.not-found.subheader.postfix"}}
            </AuHeading>
          </div>

          <AuHr />

        {{else}}

          <div class="au-o-region">
            <AuHeading @level="1" @skin="1" class="au-u-word-break au-u-margin-bottom">
              {{t "fallback.header"}}
            </AuHeading>
            <p class="au-u-h3 au-u-light">
              {{t "fallback.subheader.prefix"}}
              <AuLink href="{{this.model.directed.subject}}" class="au-u-word-break">{{this.model.directed.subject}}</AuLink>
              {{t "fallback.subheader.postfix"}}
            </p>
          </div>

          <AuHr />

          <Metis::ResourceMetadata
            @model={{@model}}
            @controller={{this}}
          />
        {{/if}}
      </div>
    </div>
  </div>
</div>