<div class="au-o-region-large">
  <div class="au-o-grid au-o-grid--center">
    <div class="au-o-grid__item au-u-5-6 au-u-2-3@medium">

      {{#if @isEmpty}}
        <div class="au-u-margin-bottom">
          <AuHeading class="au-u-margin-bottom">Detailpagina niet gevonden.</AuHeading>
          <AuHeading @level="2" @skin="3" class="au-u-light au-u-margin-bottom">Er werden geen relaties of details gevonden over <AuLink href="{{@model.subject}}">{{@model.subject}}</AuLink>.</AuHeading>
        </div>

        <AuHr />

      {{else}}

        <div class="au-o-region">
          <AuHeading class="c-u-word-break--break-all au-u-margin-bottom">Detailpagina URI</AuHeading>
          <AuHeading @level="2" @skin="3" class="au-u-light">Deze pagina geeft informatie over het onderwerp <AuLink href="{{@model.subject}}">{{@model.subject}}</AuLink> weer, door relaties en details te tonen.</AuHeading>
          {{!-- TODO: Add label in title as well --}}
        </div>

        <AuHr />

        <div class="au-o-region">
          <AuHeading @level="3" @skin="2">Eigenschappen en relaties</AuHeading>
          <p class="au-u-margin-bottom">Directe links van het onderwerp.</p>

          <div class="au-c-data-table__wrapper au-u-margin-bottom-large">
            {{#if @model.triples.directed}}
              <table about={{this.model.subject}} class="au-c-data-table__table">
                <thead>
                  <tr class="au-c-data-table__header">
                    <th class="data-table__header-title"><span>Eigenschap</span>{{!-- predicate --}}</th>
                    <th class="data-table__header-title"><span>Onderwerp</span> {{!-- object --}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each @model.triples.directed as |triple|}}

                    {{#if (eq triple.object.type "uri")}}
                      <tr property={{triple.predicate}} resource={{triple.object.value}}>
                        <td>
                          <Metis::DisplayUri @uri={{triple.predicate}} />
                        </td>
                        <td>
                           <Metis::DisplayUri @uri={{triple.object.value}} />
                        </td>
                      </tr>
                    {{else}}
                      <tr property={{triple.predicate}} content={{triple.object.value}}>
                        <td>
                          <Metis::DisplayUri @uri={{triple.predicate}} />
                        </td>
                        <td>
                          {{triple.object.value}}
                        </td>
                      </tr>
                    {{/if}}
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              <p><AuHelpText @skin="tertiary">Geen directe links gevonden.</AuHelpText></p>
            {{/if}}
          </div>
        </div>

        <AuHeading @level="3" @skin="2">Verwijzingen</AuHeading>
        <p class="au-u-margin-bottom">Inverse links naar het onderwerp.</p>
        {{!-- <p class="u-spacer--small">{{model.subject}}</p> --}}


        <div class="au-c-data-table__wrapper au-u-margin-bottom-large">
          {{#if @model.triples.inverse}}
            <table class="au-c-data-table__table">
              <thead>
                <tr class="au-c-data-table__header">
                  <th class="data-table__header-title"><span>Eigenschap</span>{{!-- predicate --}}</th>
                  <th class="data-table__header-title"><span>Onderwerp</span> {{!-- object --}}</th>
                </tr>
              </thead>
              <tbody>
              {{#each @model.triples.inverse as |triple|}}
                  <tr resource={{triple.subject}}>

                    <td property={{triple.predicate}} resource={{triple.object}}>
                      <Metis::DisplayUri @uri={{triple.predicate}} />
                    </td>
                    <td>
                      <Metis::DisplayUri @uri={{triple.subject}} />
                    </td>

                    {{!-- TODO: if we want it the property match human/machine way, we should have tis htirs column --}}
                    {{!-- <td><Metis::DisplayUri @uri={{triple.object}} /></td> --}}
                </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <p><AuHelpText @skin="tertiary">Geen verwijzingen gevonden.</AuHelpText></p>
          {{/if}}
        </div>
      {{/if}}

      <div class="au-u-margin-top">
        <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">Waarvoor dient deze website?</AuHeading>
        <p>Deze website wordt gebruikt om de informatie over URI's die in kader van het project Lokale Besturen Linked Open Data gebruikt worden, te tonen op een leesbare en begrijpbare manier. Deze links kan u onder andere ontdekken op <AuLink href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">https://publicatie.gelinkt-notuleren.vlaanderen.be</AuLink>.</p>
      </div>

    </div>
  </div>
</div>

{{outlet}}
