<div class="container-flex--scroll">
  <div class="page">
    <div class="region">
      <div class="layout layout--wide">
        <div class="grid">
          <div class="col--8-12 col--12-12--s">
            <div class="region typography">
              <div class="grid">
                <div class="col--8-12">
                  <h1 class="h1 u-spacer--bottom--tiny word-break--break-all">Detailpagina voor de persoon Voornaam Familienaam</h1>
                  {{!-- <p class="introduction">Deze pagina geeft informatie over de persoon en diens relaties, eigenschappen en verwijzingen.</p> --}}
                </div>
                <div class="col--4-12">
                  <div class="placeholder-picture">
                    {{!-- Op te lossen met een if-else --}}
                  </div>
                </div>
              </div>

              <div class="u-hr u-spacer--tb--large"></div>

              <div class="region">
                <h2 class="h4 sans-serif">Mandaten</h2>
                {{!-- Gesorteerd van recent naar ouder --}}

                <div class="grid">
                  <div class="col--6-12 col--12-12--s">
                    <h3 class="h3 u-spacer--none">Burgemeester <a href="#">Berlare</a></h3>
                    <h4 class="h4 sans-serif text-light u-spacer--bottom"><a href="#">College van Burgemeester &amp; Schepenen Berlare</a></h4>
                    <p>
                      24.12.2024 &mdash; 24.08.2026
                      <br>Titelvoerend
                    </p>
                  </div>
                  <div class="col--6-12 col--12-12--s">
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.929672241210938%2C50.995283325981084%2C4.046401977539063%2C51.06470168927767&amp;layer=transportmap"></iframe>
                    <p><small><a href="https://www.openstreetmap.org/#map=13/51.0300/3.9880&amp;layers=T" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link"></i> Bekijk op een grotere kaart</a></small></p>
                  </div>
                </div>
                <div class="u-hr u-spacer--tb--large"></div>

                <div class="grid">
                  <div class="col--6-12 col--12-12--s">
                    <h3 class="h3 u-spacer--none">Schepen <a href="#">Berlare</a></h3>
                    <h4 class="h4 sans-serif text-light u-spacer--bottom"><a href="#">College van Burgemeester &amp; Schepenen Berlare</a></h4>
                    <p>
                      24.12.2018 &mdash; 24.08.2020
                      <br>Verhinderd
                      <br>3de schepen
                      <br>Natuur &amp; Bos
                      <br>Open VLD
                    </p>
                  </div>
                  <div class="col--6-12 col--12-12--s">
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.929672241210938%2C50.995283325981084%2C4.046401977539063%2C51.06470168927767&amp;layer=transportmap"></iframe>
                    <p><small><a href="https://www.openstreetmap.org/#map=13/51.0300/3.9880&amp;layers=T" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link"></i> Bekijk op een grotere kaart</a></small></p>
                  </div>
                </div>
                <div class="u-hr u-spacer--tb--large"></div>

                <div class="grid">
                  <div class="col--6-12 col--12-12--s">
                    <h3 class="h3 u-spacer--none">Parlementslid <a href="#">Europa</a></h3>
                    <h4 class="h4 sans-serif text-light u-spacer--bottom"><a href="#">Europees Parlement</a></h4>
                    <p>
                      24.12.2020 &mdash; 24.08.2022
                      <br>Effectief
                      <br>ALDE
                    </p>
                  </div>
                  <div class="col--6-12 col--12-12--s">
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.999688267707826%2C50.99986429090814%2C10.000144243240358%2C51.000135631897166&amp;layer=transportmap"></iframe>
                    <p><small><a href="https://www.openstreetmap.org/#map=21/51.00000/9.99992&amp;layers=T" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link"></i> Bekijk op een grotere kaart</a></small></p>
                  </div>
                </div>
                <div class="u-hr u-spacer--tb--large"></div>

                <div class="grid">
                  <div class="col--6-12 col--12-12--s">
                    <h3 class="h3 u-spacer--none">Commissaris <a href="#">Europa</a></h3>
                    <h4 class="h4 sans-serif text-light u-spacer--bottom"><a href="#">Europese Commissie</a></h4>
                    <p>
                      24.12.2022 &mdash; 24.08.2024
                      <br>Effectief
                      <br>Klimaat
                    </p>
                  </div>
                  <div class="col--6-12 col--12-12--s">
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.999688267707826%2C50.99986429090814%2C10.000144243240358%2C51.000135631897166&amp;layer=transportmap"></iframe>
                    <p><small><a href="https://www.openstreetmap.org/#map=21/51.00000/9.99992&amp;layers=T" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link"></i> Bekijk op een grotere kaart</a></small></p>
                  </div>
                </div>
                <div class="u-hr u-spacer--tb--large"></div>

              </div>
            </div>

            <h2 class="h2 sans-serif u-spacer--tiny word-break--break-all">Eigenschappen en relaties</h2>
            <p class="u-spacer">Directed links van het onderwerp.</p>
            {{!-- <h2 class="h3 sans-serif u-spacer--tiny word-break--break-all">Extra informatie over <a href="{{@model.subject}}" data-toggle="tooltip" title="{{@model.subject}} a" data-content="{{@model.subject}}" data-placement="top">label</a></h2> --}}

            {{#if @model.triples.directed}}
              <div class="u-spacer--large">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      {{!-- <th>subject</th> --}}
                      <th>Eigenschap{{!-- predicate --}}</th>
                      <th>Inhoud{{!-- object --}}</th>
                      <th>Definitie</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{!-- <tr>
      						  		   <td>
      						  			 <p>Label</p>
      						  			 <button class="button button--tiny button--alt">Toon link</button>
      						  			 <a href="#">Open link</a>
      						  		   </td>
      						  	     </tr> --}}
                    {{#each @model.triples.directed as |triple|}}
                      <tr>
                        {{!-- <td><Metis::DisplayUri @uri={{triple.subject}} /></td> --}}
                        <td><Metis::DisplayUri @uri={{triple.predicate}} /></td>
                        <td>
                          {{#if (eq triple.object.type "uri")}}
                            <Metis::DisplayUri @uri={{triple.object.value}} />
                          {{else}}
                            {{triple.object.value}}
                          {{/if}}
                        </td>
                        <td>Bijvoorbeeld een persoon in zijn of haar rol als houder van een mandaat.</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            {{else}}
              <p class="text-fade u-spacer--large">Geen directed links gevonden.</p>
            {{/if}}

            <h2 class="h2 sans-serif u-spacer--tiny">Verwijzingen</h2>
            <p class="u-spacer">Inverse links naar het onderwerp.</p>
            {{!-- <p class="u-spacer--small">{{@model.subject}}</p> --}}

            {{#if @model.triples.inverse}}
              <div class="u-spacer--large">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      {{!-- <th>subject</th> --}}
                      <th>Eigenschap{{!-- predicate --}}</th>
                      <th>Inhoud{{!-- object --}}</th>
                      <th>Definitie</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each @model.triples.inverse as |triple|}}
                      <tr>
                        {{!-- <td><Metis::DisplayUri @uri={{triple.subject}} /></td> --}}
                        <td><Metis::DisplayUri @uri={{triple.predicate}} /></td>
                        <td><Metis::DisplayUri @uri={{triple.object}} /></td>
                        <td>Bijvoorbeeld een persoon in zijn of haar rol als houder van een mandaat.</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              {{else}}
              <p class="text-fade u-spacer--large">Geen verwijzingen gevonden.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
